@import "tailwindcss";

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation: spin 50s linear infinite;
}
.animate-spin-slower {
  animation: spin 70s linear infinite;
}

.animate-spin-slowest {
  animation: spin 85s linear infinite;
}

.animate-spin-load {
  animation: spin 5s linear infinite;
}

.animate-spin-loader {
  animation: spin 10s linear infinite;
}

.animate-spin-loadest {
  animation: spin 15s linear infinite;
}

/* @media (hover: hover) {
        .group-hover\:scale-105:is(:where(.group):hover *) {
            --tw-scale-x:105%;
            --tw-scale-y: 105%;
            --tw-scale-z: 105%;
            scale: var(--tw-scale-x)var(--tw-scale-y)
        }

        .group-hover\:scale-110:is(:where(.group):hover *) {
            --tw-scale-x: 110%;
            --tw-scale-y: 110%;
            --tw-scale-z: 110%;
            scale: var(--tw-scale-x)var(--tw-scale-y)
        }

        .group-hover\:scale-\[0\.92\]:is(:where(.group):hover *) {
            scale: .92
        }

        .hover\:scale-60:hover {
            --tw-scale-x: 60%;
            --tw-scale-y: 60%;
            --tw-scale-z: 60%;
            scale: var(--tw-scale-x)var(--tw-scale-y)
        }

        .hover\:scale-105:hover {
            --tw-scale-x: 105%;
            --tw-scale-y: 105%;
            --tw-scale-z: 105%;
            scale: var(--tw-scale-x)var(--tw-scale-y)
        }

        .hover\:scale-108:hover {
            --tw-scale-x: 108%;
            --tw-scale-y: 108%;
            --tw-scale-z: 108%;
            scale: var(--tw-scale-x)var(--tw-scale-y)
        }

        .hover\:scale-\[1\.05\]:hover {
            scale: 1.05
        }

        .hover\:bg-\[\#E1E1E2\]:hover {
            background-color: #e1e1e2
        }

        .hover\:bg-black:hover {
            background-color: var(--color-black)
        }

        .hover\:bg-gray-300:hover {
            background-color: var(--color-gray-300)
        }

        .hover\:bg-gray-800:hover {
            background-color: var(--color-gray-800)
        }

        .hover\:text-gray-300:hover {
            color: var(--color-gray-300)
        }

        .hover\:text-gray-500:hover {
            color: var(--color-gray-500)
        }
    } */



.hover-diamond-small {
  width: 400px;
  height: 400px;
  opacity: 0;
  transition: all 0.5s ease;
}

/* Show diamond ONLY when hovering the demographics button area */
.demo-wrapper:hover .hover-diamond-small {
  width: 602px;
  height: 602px;
  opacity: 1;
}
